.contenedor {
	max-width: 800px;
	margin: auto;
}

.menu {
	background: yellow;
}

.menu ul li {
	display: inline-block;
	margin: o 5px;
}

.menu ul {
	float: right;
}

header {
	background: cyan;
	text-align: center;
	padding: 100px 0;
}

.info1 article {
	display: inline-block;
	width: 49%;
}

footer {
	text-align: center;
}

ul {
	padding: 0;
}

.social li {
	display: inline-block;
	margin: 0 10px;
}

.social li span {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 6px;
	box-sizing: border-box;
}

.facebook {
	background: #3b5998;
}

.twitter {
	background: #55acee;
}

.linkedin {
	background: #007bb5;
}

.pinterest {
	background: #cb2027;
}

.googleplus {
	background: #dd4b39;
}